@import '../../styles/theme/defaultColors.scss';

.container {
  z-index: 5;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 10% 2rem;

  background: $purple-400;
  color: $gray-50;

  h3 {
    font-size: 2.875rem;
    font-weight: medium;
    text-align: center;
    text-shadow: 0 2px 2px rgba($black, 0.9);

    margin: 1rem 0 3.8rem;
  }

  > div {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 4rem;
    

    .descriptionStack {
      height: 100%;
      max-width: 600px;
      width: 50%;
      margin-left: auto;

      
      h4 {
        font-family: "Lexend", sans-serif;
        font-size: 1.8rem;
        margin-bottom: 0.75rem;
      }
      
      p {
        font-family: "Lexend", sans-serif;
        line-height: 1.6;
      }
    }

    .stacks {
      height: 100%;
      max-width: 50%;
      margin-right: auto;

      display: grid;
      grid-template-columns: repeat(3, minmax(80px, 136px));
      grid-template-rows: repeat(3, minmax(80px, 136px));
      gap: 1rem;
    }
  }
}

@media (max-width: 900px) {
  .container {
    > div {
      flex-direction: column;
      .descriptionStack {
        max-width: 450px;
        width: 100%;
        margin: 0 auto;
      }
      .stacks {
        max-width: 100%;
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 520px) {
  .container {
    > div {
      .stacks {
        grid-template-columns: repeat(3, minmax(80px, 120px));
        grid-template-rows: repeat(3, minmax(80px, 120px));
      }
    }
  }
}
@media (max-width: 450px) {
  .container {
    > div {
      .stacks {
        grid-template-columns: repeat(3, minmax(80px, 100px));
        grid-template-rows: repeat(3, minmax(80px, 100px));
      }
    }
  }
}

@media (max-width: 370px) {
  .container {
    > div {
      .stacks {
        grid-template-columns: repeat(3, minmax(80px, 90px));
        grid-template-rows: repeat(3, minmax(80px, 90px));
      }
    }
  }
}