@import '../../../styles/theme/defaultColors.scss';

.title {
  background: $purple-600;
  height: 4rem;
  width: fit-content;
  padding: 0 8px;
  
  display: flex;
  align-items: flex-end;

  h1{
    font-size: 3.125rem;
    font-weight: 700;
    text-shadow: -4px 5px 2px $gray-900;
  }
}

.title + .title {
  margin-top: 0.75rem;
}

@media (max-width: 500px){
  .title {
    h1{
      font-size: 3.125rem;
      font-weight: 700;
    }
  }
}