@import './colors.scss';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%; //15px
  }
  @media (max-width: 720px) {
    font-size: 87.5%; //14px
  }
  @media (max-width: 450px) {
    font-size: 75%; //12px
  }
}

body,
input,
button,
textarea {
  font: 400 16px 'Futura LT', sans-serif;
}

body {
  background: $gray-100;
  color: $gray-900;
  -webkit-font-smoothing: antialiased;
}

button {
  cursor: pointer;
  border: unset;
}
[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

.react-modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.react-modal-content {
  height: 95%;
  width: 90%;
  max-width: 650px;
  max-height: 720px;
  background: $gray-100;
  position: fixed;
  border-radius: 2rem;
  z-index: 2;
}
.react-modal-close {
  width: 2.2rem;
  height: 2.2rem;

  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  z-index: 3;

  background: transparent;
  color: $gray-200;

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.75);
  }
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}
