* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @media (min-width: 1080px) {
    font-size: 93.75%; //15px
  }
  @media (min-width: 720px) {
    font-size: 87.5%; //14px
  }
}

body {
  background: #f8f8f8;
  color: #29292e;
}

body,
input,
button,
textarea {
  font: 400 16px 'Futura LT', sans-serif;
}

body {
  background: var(--background);
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 600;
}
button {
  cursor: pointer;
}
[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}
