.container404 {
  margin: 0;
  padding: 0;
  font-family: 'Tomorrow', sans-serif;
  height: 100vh;
  background-image: linear-gradient(to top, #2e1753, #1f1746, #131537, #0d1028, #050819);

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .text {
    position: absolute;
    top: 10%;
    color: #e9e9e9;
    text-align: center;
    h1 {
      font-size: 3rem;
    }
  }
  .astronaut img {
     width: 100px;
     position: absolute;
     top: 55%;
     animation: astronautFly 6s infinite linear;
   }
  
  .backPage{
    border-radius: 8px;
    padding: 5px 1.3rem;
    
    background: rgba(#373181, 0.7);
    color: #e9e9e9;
    border: 2px solid rgba(#fff, 0.5);

    font-family: 'Tomorrow', sans-serif;
    font-weight: 600;

    transition: filter 0.2s;

    &:hover{
      filter: brightness(0.8);
    }
  }
}
.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: #fff;
  right: 0;
  animation: starTwinkle 3s infinite linear;
}
@keyframes astronautFly {
  0% {
    left: -100px;
  }
  25% {
    top: 50%;
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(45deg);
    top: 55%;
  }
  75% {
    top: 60%;
    transform: rotate(30deg);
  }
  100% {
    left: 110%;
    transform: rotate(45deg);
  }
}
@keyframes starTwinkle {
  0% {
    background: rgba(255, 255, 255, 0.4);
  }
  25% {
    background: rgba(255, 255, 255, 0.8);
  }
  50% {
    background: rgba(255, 255, 255, 1);
  }
  75% {
    background: rgba(255, 255, 255, 0.8);
  }
  100% {
    background: rgba(255, 255, 255, 0.4);
  }
}
