@import '../../../styles/theme/defaultColors.scss';

.timelineItem{
    display: flex;
    gap: 1.5rem;
    vertical-align: top;

    font-family: "Montserrat", sans-serif;

    h1 {
      font-size: 1.875rem;
      font-weight: 700;
    }

    p {
      font-weight: 500;
      font-size: 0.9rem;
    }

    > div:first-child {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: fit-content;

      .point {
        height: 2rem;
        width: 2rem;
        border-radius: 9999px;
        background: $gray-900;
        border: 8px solid $purple-400;
      }

      .line {
        width: 0.5rem;
        height: 10rem;
        background: $purple-400;
        margin-top: -1px;
      }

      .lastPoint {
        width: fit-content;
        border: 12px solid transparent;
        margin-top: -1px;
        border-top-color: $purple-400;
      }
    }

    > div:last-child {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      
      background: transparent;
      color: $gray-100;

      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;

    }
  }


@media (min-width: 900px) {
  .timelineItem{
    flex-direction: column;
    width: 100%;
    
    div:first-child {
      flex-direction: row;
      width: 100%;
      
      .line {
        height: 0.5rem;
        flex: 1;
      }
      
      .lastPoint {
        border-left-color: $purple-400;
        border-top-color: transparent;
        margin-top: 0;
      }
    }
    
    div:last-child {
      width: 80%;
      margin-top: 0.75rem;
    }
  }
}

@media (max-width: 900px) {
  .timelineItem{
    p {
      font-size: 1.25rem;
    }
  }
}