@import '../../styles/colors.scss';

.container {
  max-width: 1366px;
  margin: 0 auto;

  display: flex;

  .info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    padding: 1.5rem;
    font-family: 'Inter';
    color: $gray-900;

    hr {
      height: 4px;
      background-color: $gray-900;
    }

    h3 {
      margin: 1.4rem 0;
      font-size: 1.8rem;
      font-weight: 400;
    }
    p + h3 {
      margin-top: 2rem;
    }

    label {
      font-size: 1.3rem;
      font-weight: 600;
    }

    p {
      font-size: 1.4rem;
      color: $gray-500;
    }

    div {
      margin: 5px 0;
    }
    .skills {
      img {
        margin: 5px;
        border-radius: 4px;
      }
    }
    .button {
      max-width: 280px;
      padding: 1rem;
      margin-top: 3rem;
      border-radius: 10px;

      text-align: center;
      text-decoration: none;
      font-size: 1.2rem;
      font-weight: 600;

      background: $purple-500;
      color: $white;

      transition: filter 0.2s ease-in;

      &:hover {
        filter: brightness(0.8);
      }
    }
  }
}

.perfil {
  display: flex;
  align-items: center;

  div:last-child {
    display: inline;
    margin-left: 10px;

    h1,
    h2 {
      font-family: 'Montserrat';
      margin: 16px 0;
    }

    h1 {
      font-weight: 700;
      font-size: 3.2rem;
    }

    h2 {
      font-weight: 400;
      font-size: 1.5rem;
    }
  }

  .userImage {
    padding: 4px;
    border-radius: 50%;
    line-height: 0;

    background: $gray-50;
    background: rgb(134, 131, 181);
    background: -moz-linear-gradient(
      122deg,
      rgba(134, 131, 181, 1) 0%,
      rgba(55, 49, 129, 1) 100%
    );
    background: -webkit-linear-gradient(
      122deg,
      rgba(134, 131, 181, 1) 0%,
      rgba(55, 49, 129, 1) 100%
    );
    background: linear-gradient(
      122deg,
      rgba(134, 131, 181, 1) 0%,
      rgba(55, 49, 129, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8683b5",endColorstr="#373181",GradientType=1);

    img {
      width: 94px;
      height: 94px;
      transform: scaleX(-1);
      border-radius: 50%;
      border: 2px solid $gray-50;
    }
  }
}

@media (max-width: 480px) {
  .container {
    .info {
      .button {
        max-width: none;
      }
    }
  }
}
