@import '../../styles/theme/defaultColors.scss';

.front_cover {
  width: 100%;
  height: 100vh;
  background-image: url('../../assets/images/background.png');
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 12rem;

  .presentation {
    padding-left: 5.25rem;
    color:  $gray-50;
    font-family: "Lexend", sans-serif;

    .title {
      background: $purple-600;
      height: 4rem;
      width: fit-content;
      padding: 0 4px;
      
      display: flex;
      align-items: flex-end;

      h1{
        font-size: 3.125rem;
        font-weight: 700;
      }
    }

    .title + .title {
      margin-top: 0.75rem;
    }
    
    .typed {
      max-width: 600px;
      margin-top: 1.375rem;

      span {
        font-size: 1.25rem;
        font-weight: 400;
      }
    }
  }

  .waves {
    height: auto;
    width: 100vw;
    display: block;
    object-fit: contain;
    position: absolute;
    bottom: 0;
  }
}



@media (max-width: 500px){
  .front_cover {
    .presentation {
      padding: 1rem;
      .title {
        h1{
          font-size: 3.125rem;
          font-weight: 700;
        }
      }
      .typed {
        span {
          font-size: 2rem;
          margin-top: 2rem;
        }
      }
    }
  }
}