@import '../../styles/colors.scss';

.container {
  width: 80%;
  margin: 0 auto;
  padding: 1rem 0 3rem;

  background: $gray-100;
  color: $gray-900;

  h3 {
    font-size: 2.9rem;
    font-weight: 400;
    text-align: center;

    margin: 1rem 0 3.8rem;
  }
}
