@import '../../styles/theme/defaultColors.scss';

.container {
  width: 80%;
  margin: 0 auto;
  padding: 1rem 0 3rem;

  background: $gray-100;
  color: $gray-900;

  h3 {
    font-size: 2.875rem;
    font-weight: medium;
    text-align: center;

    margin: 1rem 0 3.8rem;
  }

  .buttonSeeMore {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      height: 40px;

      margin-top: 1rem;
      padding: 10px 24px;
      border-radius: 24px;

      border: unset;
      background: $purple-400;
      color: $white;

      font-family: 'Inter', sans-serif;
      font-size: 1rem;
      font-weight: 600;

      transition: filter 0.2s;

      &:hover {
        filter: brightness(0.7);
      }
    }
  }
}
